<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Research Inventory Helper
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<p id="page_text">
			This is an applicaiton for simple research data collection from mobile devices. Use it to record data and then export it to excel. Please delete data once you are finished.
		</p>
	</div>
</template>

